		</main>

		<!-- This is an image for link previews -->
		<img
			src="/icon.png"
			height="0"
			width="0"
			alt="A picture that says HTML"
			style="display: inline-block"
		/>

		<footer><%- include('./footer'); %></footer>
	</body>
</html>