<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>IRL HTML</title>
<link rel="shortcut icon" type="image/png" href="/icon.png" />
<link rel="stylesheet" type="text/css" href="/style.css" />
<meta
  name="viewport"
  content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"
/>

<!-- Social -->
<meta property="og:title" content="IRL HTML" />
<meta
  property="og:description"
  content="IRL HTML is a web app that hosts HTML web pages created from photographs of HTML code."
/>
<meta property="og:image" content="https://irlhtml.glitch.me/icon.png" />

<!-- Twitter -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@patrickweave_r" />
<meta name="twitter:creator" content="@patrickweave_r" />
<meta name="twitter:title" content="IRL HTML" />
<meta
  name="twitter:description"
  content="IRL HTML is a web app that hosts HTML web pages created from photographs of HTML code."
/>
<meta name="twitter:image" content="https://irlhtml.glitch.me/icon.png" />
<meta name="twitter:image:alt" content="A screenshot of the text HTML" />
<%- include('../helpers/getReadableDate') %>
