<h1>IRL HTML</h1>

<% if (publishingEnabled !== 'true') { %>
	<div class="notice">
		<h2>Update on IRL HTML</h2>
		<p>IRL HTML is now closed. This is an archive of the HTML pages created with IRL HTML between 2023 and 2025 hosted as a static site.</p>
	</div>
<% } %>

<ul>
	<li><a href="/" class="<% if (title === 'home') { %>current<% } %>">List of HTML Pages</a></li>
	<li><a href="/new" class="<% if (title === 'new') { %>current<% } %>">Create New HTML Page</a></li>
</ul>
