<h1>IRL HTML</h1>

<% if (publishingEnabled !== 'true') { %>
	<h2>Publishing Disabled</h2>
<% } %>

<ul>
	<li><a href="/" class="<% if (title === 'home') { %>current<% } %>">List of HTML Pages</a></li>
	<li><a href="/new" class="<% if (title === 'new') { %>current<% } %>">Create New HTML Page</a></li>
</ul>
