body {
	margin: 2rem;
	max-width: 768px;
	font-size: 120%;
}

@media (max-width: 768px) {
	ol,
	ul {
		padding-left: 20px;
	}
}

a.current {
	font-weight: 900;
}

#pages-heading:after {
	content: "🌿";
	margin-left: 0.5rem;
}

ol#pages-list li {
	margin: 0.125rem 0;
	padding: 0.125rem 0.2rem;
}

ol#pages-list li::marker {
	color: black;
}

ol#pages-list li:hover {
	background-color: #d7ffce;
}

ol#pages-list a {
	text-decoration: none;
}

ol#pages-list li {
	position: relative;
}

ol#pages-list .author {
	color: #444;
	margin-left: 0.25rem;
}

ol#pages-list > a > li > div {
	display: flex;
	justify-content: space-between;
}

@media (max-width: 768px) {
	ol#pages-list > a > li > div {
		flex-direction: column;
	}
}

.title-author {
}

.timestamp {
	min-width: 250px;
	text-align: right;
	color: #444;
}

@media (max-width: 768px) {
	.timestamp {
		text-align: left;
		font-size: 16px;
	}
}

.page-title-link {
	text-decoration: underline;
}

#new-page-form {
	background-color: rgb(250, 255, 252);
	border: 1px solid #eee;
	border-radius: 3px;
	padding: 0 0.5rem 0.5rem;
}
#new-page-form > * {
	display: block;
	margin: 1rem 0;
}

#new-page-form label {
	font-size: 17px;
	margin-bottom: 0;
	font-family: sans-serif;
}

#new-page-form .text-input {
	width: 100%;
	max-width: 400px;
	font-size: 16px;
	padding: 0.25rem;
	margin-top: 0.5rem;
}

#image-label,
#upload-button {
	display: inline-block;
}

.submit-button,
#upload-button {
	font-size: 18px;
	padding: 0.5rem;
}

.radio-grid {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 10px;
	align-items: center;
}
.radio-grid input[type="radio"] {
	margin: 0;
}

hr {
	text-align: center;
	line-height: 1px;
	border-width: 1px 0 0;
	border-color: #000;
	overflow: visible;
}

hr:after {
	content: "❇️";
	display: inline;
	background-color: #fff;
	padding: 0 0.25em;
}

.inline-header {
	display: inline;
}

.small-text {
	font-size: 16px;
}
