body {
	margin: 2rem;
	max-width: 800px;
	font-size: 120%;
}

a.current {
	font-weight: 900;
}

ol#pages-list li {
	margin: 0.125rem 0;
	padding: 0.125rem 0.2rem;
}

ol#pages-list li::marker {
	color: black;
}

ol#pages-list li:hover {
	background-color: #d7ffce;
}

ol#pages-list a {
	text-decoration: none;
}

ol#pages-list time {
	color: black;
}

ol#pages-list .author {
	color: #444;
	margin-left: 0.5rem;
}

.page-title-link {
	text-decoration: underline;
}

#new-page-form > * {
	display: block;
	margin: 1rem 0;
}

.radio-grid {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 10px;
	align-items: center;
}
.radio-grid input[type="radio"] {
	margin: 0;
}

hr {
	text-align: center;
	line-height: 1px;
	border-width: 1px 0 0;
	border-color: #000;
	overflow: visible;
}

hr:after {
	content: "❇️";
	display: inline;
	background-color: #fff;
	padding: 0 0.25em;
}
